<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        {% endblock %}
        | Fabrizio Condori
    </title>
    {% load static %}
    <link rel="stylesheet" type="" href="{% static 'css/styles.css' %}">

</head>
<body>
    <header>
        <div id="logotipo">
            <img src="{% static 'images/logotipo.png'%}">
            <h1>Fabrizio Raul Condori Guzman</h1>
        </div>
    </header>
    <nav>
        <ul>
            <li>
                <a href="/inicio">Inicio</a>
            </li>
        </ul>
    </nav>
    <div class="barra">
        <span class="esquina-izquierda"></span>
        <span class="relleno-barra"></span>
        <span class="esquina-derecha"></span>
    </div>
    <div id="content">
        <div class="box">
            <!--<h2 class="title">Título de contenido (de prueba)</h2>-->
        {% block content %}
        <!--<strong>Contenido en layout (Padre)</strong>-->
        {% endblock %}
        </div>
    </div>
    <footer>
        UNTELS - LP3 &COPY; Fabrizio Condori
    </footer>
    
</body>
</html>